{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
    <div class="container" id="panels">
        <h1 id="title">Your order</h1>
        <div class="modal-body">
            <ul id="cart-items-list">
                {% if cart.items %}
                    {% for item in cart.items %}
                        <li id="cart-item-{{ item.product_id }}">
                            Produkt: {{ item.product.name | striptags }}<br>
                            <span class="quantity">Ilość: {{ item.quantity }}</span><br>
                            Cena: {{ item.product.price }} PLN<br>
                            <button class="btn btn-danger" onclick="removeFromCart({{ item.product_id }})">Remove</button>
                        </li>
                    {% endfor %}
                {% else %}
                        <p id="empty-cart-message">Your cart is empty.</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
