{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesProducts.css') }}">
{% endblock %}

{% block content %}

    <div id="alert-container"></div>

    <div class="container productContainer">
        <h1>Your Dream PC Starts Here</h1>
        <p id="firstDescription">Browse our wide selection of high-performance PC components and ready-to-go setups. Find exactly what you need, whether you're gaming, creating, or working!</p>
        <hr>
        {% for category in categories %}
            <h2 class="categoryName" id="{{ category.name | lower }}">{{ category.name }}</h2>
            <div class="row">
                {% for product in category.products %}
                    <div class="col-lg-3 simpleProduct">
                        <img src="{{ product.image_url }}" alt="{{ product.name }}">
                        <h3>{{ product.name | safe }}</h3>
                        <p id="description">{{ product.description | safe }}</p>
                        <p><strong>{{ product.price }} PLN</strong></p>
                        <form class="add-to-cart-form" action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post">
                            <button type="submit" class="btn add-to-cart-btn" data-product-id="{{ product.id }}"><i class="glyphicon glyphicon-plus"></i> Add to Cart</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="floating-cart">
        {% if current_user.is_authenticated %}
            <span id="cart-count">{{ cart.items|sum(attribute='quantity') if cart else 0 }}</span>
        {% else %}
            <span id="cart-count">0</span>
        {% endif %}
        <a href="#" data-toggle="modal" data-target="#cartModal">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
    </div>

    <div class="container alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
