{% extends 'base.html' %}

{% block title %}User panel{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesUserPanel.css') }}">
{% endblock %}

{% block content %}
    <div class="container" id="panels">
        <h1 id="title">Client's panel</h1>
        <div class="row">
            <div class="col-lg-6">
                <h1>Data update</h1>
                <form action="{{ url_for('user_routes.update_user') }}" method="POST">
                    <p class="dataP">Username:</p>
                    <input type="text" id="username" name="username" placeholder="{{ user.username }}"><br>
            
                    <p class="dataP">Email:</p>
                    <input type="email" id="email" name="email" placeholder="{{ user.email }}"><br>
            
                    <button type="submit">Update data</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h1>Change Password</h1>
                <form action="{{ url_for('user_routes.change_password') }}" method="POST">
                    <input type="password" id="current_password" name="current_password" placeholder="Current Password" required><br>
    
                    <input type="password" id="new_password" name="new_password" placeholder="New Password" required><br>
    
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required><br>
    
                    <button type="submit">Change Password</button>
                </form>   
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h1>Data update</h1>
                <form action="{{ url_for('user_routes.update_user') }}" method="POST">
                    <p class="dataP">Username:</p>
                    <input type="text" id="username" name="username" placeholder="{{ user.username }}"><br>
            
                    <p class="dataP">Email:</p>
                    <input type="email" id="email" name="email" placeholder="{{ user.email }}"><br>
            
                    <button type="submit">Update data</button>
                </form>
            </div>
            <div class="col-lg-6">
                <h1>Change Password</h1>
                <form action="{{ url_for('user_routes.change_password') }}" method="POST">
                    <input type="password" id="current_password" name="current_password" placeholder="Current Password" required><br>
    
                    <input type="password" id="new_password" name="new_password" placeholder="New Password" required><br>
    
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required><br>
    
                    <button type="submit">Change Password</button>
                </form>   
            </div>
        </div>
    </div>

    <div class="container alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
